<div id="container">
<table id="list_table" border="1">
  <thead>
    <tr>
<td>Neighborhood</td>
<td>Borough</td>
<td>Zip Code</td>
<td>Price</td>
<td>Units</td>
<td>Price per Unit</td>
<td>Square Footage</td>
<td>Price Per Square Foot</td>

    </tr>
  </thead>
  <tbody id="table_body">

  </tbody>
</table>
</div>

<script type="text/javascript">

$(function(){
//alert("Hi...")
  window.router = new MyRouter();
  Backbone.history.start();
})
</script>